---
import CardLaunch from './CardLaunch.astro';
import {getSpaceXData} from '../services/spacexdata';
//Podemos ejecutar javascript
const launches = await getSpaceXData();
---

<div class:list={["grid gap-8 sm:grid-cols-2 lg:grid-cols-3"]}>
    {
       launches.map(launch => (
        <CardLaunch 
            id={launch.id}
            name={launch.name}
            img={launch.links.patch.small}
            success={launch.success}
            flightNumber={launch.flight_number}
            details={launch.details == null ? "Sin detalles" : launch.details}
        />
       ))
    }
</div>